- name: Instalar el paquete de preinstalaci칩n
  ansible.builtin.dnf:
    name: oracle-database-preinstall-21c
    state: latest

- name: Instalar el paquete principal
  ansible.builtin.dnf:
    name: "/tmp/{{ ORACLE_RPM_FILENAME }}"
    state: present

- name: Definir la IP real en el fichero de hosts
  ansible.builtin.replace:
    path: /etc/hosts
    regexp: '127\.0\.0\.1 oracle\-opennebula'
    replace: '{{ ansible_eth0.ipv4.address }} oracle\-opennebula'

- name: Lanzar el script de configuraci칩n
  ansible.builtin.shell: /etc/init.d/oracledb_ORCLCDB-21c configure
  ignore_errors: true

- name: Configurar las variables de entorno de los usuarios
  ansible.builtin.blockinfile:
    path: ~/.bash_profile
    marker: "# {mark} ANSIBLE MANAGED BLOCK"
    block: |
      export ORACLE_HOME=/opt/oracle/product/21c/dbhome_1
      export PATH=$ORACLE_HOME/bin:$PATH
      export ORACLE_SID=ORCLCDB
  become_user: "{{ item }}"
  loop:
    - root
    - oracle

- name: Permitir sudo sin contrase침a
  copy:
    content: 'oracle ALL=(ALL:ALL) NOPASSWD:ALL'
    dest: /etc/sudoers.d/oracle_nopasswd
    mode: 0440

- name: Crear el directorio .ssh del usuario oracle
  file:
    path: /home/oracle/.ssh
    state: directory
    owner: oracle
    group: oinstall

- name: Copiar el fichero authorized_keys del root al usuario oracle
  ansible.builtin.copy:
    src: /root/.ssh/authorized_keys
    dest: /home/oracle/.ssh/authorized_keys
    remote_src: yes
    owner: oracle
    group: oinstall
    mode: '0400'

- name: Configurar el firewall
  ansible.builtin.shell: |
    firewall-cmd --add-port=1521/tcp --permanent
    firewall-cmd --reload

- name: Parar el listener
  ansible.builtin.shell: "source ~/.bash_profile; lsnrctl stop"
  become_user: oracle
  ignore_errors: true

- name: Copiar el fichero de definici칩n del listener
  ansible.builtin.template:
    src: ./templates/listener.ora
    dest: /opt/oracle/homes/OraDBHome21cEE/network/admin/listener.ora

- name: Arrancar el listener
  ansible.builtin.shell: "source ~/.bash_profile; lsnrctl start"
  become_user: oracle
  ignore_errors: true

- name: Recargar los servicios de systemd
  ansible.builtin.systemd_service:
    daemon_reload: true

- name: Habilitar el servicio de Oracle
  ansible.builtin.systemd_service:
    name: oracledb_ORCLCDB-21c
    enabled: true
